html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav p {
    text-align: center;
}

#imagen {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: coral;
    border-radius: 12px;
    padding: 200px;
    text-align: center;
}

#footer {
    background-color: blueviolet;
    margin: 0 auto;
    padding: 15px;
}
